.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
    z-index: 9999;

    &.hover {
        transform: scale(4);
        mix-blend-mode: difference;
    }
}