.experience {
  h2 {
    text-align: center;
    font-size: 6vw;
    padding: 3rem 0rem;
    background: #b4baec;
    background: linear-gradient(
      to right,
      #b4baec 41%,
      #ffbaab 77%,
      #f9e3b0 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .experience_content {
    .experience_list_menu {
      .experience_list {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;
        align-items: center;
        border-bottom: 2px solid $white;
        cursor: pointer;
        &:hover {
          .experience_left .experience_arrow {
            font-size: 3rem !important;
          }
        }
        .experience_left {
          display: flex;
          align-items: center;
          .experience_arrow {
            font-size: 0rem;
            transition: font-size 0.3s ease-in-out;
          }
          h3 {
            font-size: 3rem;
          }
        }
        .experience_right {
          p {
            text-align: end;
            font-size: 1.4vw;
            font-weight: 500;
            margin-bottom: 8px;
          }
          p:nth-child(2) {
            color: $lg-grey;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
