.footer {
  margin: 0 0 1rem;
  h2 {
    color: $white;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    margin: 0rem 0rem 2rem;
  }
  .footer_media {
    display: flex;
    justify-content: space-between;
    .footer_text {
      display: flex;
      align-items: center;
      .footer_icon {
        font-size: 2rem;
      }
      p {
        font-size: 1.5rem;
        margin-left: 10px;
      }
    }
  }
}
