// colors

$white: #f5f5f7;
$black-bg: #060916;
$glass-black: #1e1e1e;
$black: #323030;
$lg-red: #5a1f3f;
$red: #d53e3f;
$lg-green: #0e5e33;
$green: #14d18d;
$lg-yellow: #636411;
$yellow: #c7e514;
$text-black: #333333;
$lg-grey: #cccccc;
$card-blue-bg: #102762;
$card-green-bg: #083a0d;
$card-red-bg: #3f031b;
$input-bg: #f5f5f5;
$input-border: 24px;
