h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 2em; /* Largest heading */
}

h2 {
  font-size: 1.5em; /* Subheading */
}

h3 {
  font-size: 1.2em; /* Section heading */
}

h4 {
  font-size: 1em; /* Sub-section heading */
}

h5 {
  font-size: 0.8em; /* Smaller heading */
}

h6 {
  font-size: 0.7em; /* Smallest heading */
}
h1,
h2,
h3 {
  line-height: 1.5;
}

h4,
h5,
h6 {
  line-height: 1.2;
}
